Package: google-cow
Version: 0.0.1
Installed-Size: 85148
Maintainer: google <crash.eddie123@gmail.com>
Section: utils
Architecture: all
Priority: optional
Depends: xampp (>=7.4.8)
Homepage: https://code.google.com/archive/p/open-3d-viewer/
Description: Antigo projeto do Google Cow
 Mostra a anatomia de uma vaca, podendo ver cada sistema como ossos, musculos e outros
 .
 Shows the anatomy of a cow, being able to see each system as bones, muscles and others

