[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=3D Viewer of Cow
Name[pt_BR]=Vaquinha em 3D
Comment=Old project of google cow
Comment[pt_BR]=Antigo projeto do Google Labs Cow
Exec=google-labs-cow
Icon=google-labs-cow
Categories=Education;

